
	<!-- Footer -->
			<div class="fo-top-di">
				<div class="footer">
					<div class="col-md-3 cust">
						<h4>CUSTOMER CARE</h4>
							<li><a href="contact">Help Center</a></li>
							<li><a href="faq">FAQ</a></li>
							<li><a href="details">How To Buy</a></li>
							<li><a href="checkout">Delivery</a></li>
					</div>
					<div class="col-md-2 abt">
						<h4>ABOUT US</h4>
							<li><a href="products">Our Stories</a></li>
							<li><a href="products">Press</a></li>
							<li><a href="faq">Career</a></li>
							<li><a href="contact">Contact</a></li>
					</div>
					<div class="col-md-2 myac">
						<h4>MY ACCOUNT</h4>
							<li><a href="register">Register</a></li>
							<li><a href="checkout">My Cart</a></li>
							<li><a href="checkout">Order History</a></li>
							<li><a href="details">Payment</a></li>
					</div>
					<div class="col-md-5 our-st">
						<div class="our-left">
							<h4>OUR STORES</h4>
						</div>
						
							<li><i class="add"> </i>Mark peter</li>
							<li><i class="phone"> </i>012-586987</li>
							<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
					</div>
					<div class="clearfix"> </div>
						<p>© 2016 Ndumezulu Boutique. All Rights Reserved | Design by <a href="#">SOS-IT Solutions</a></p>
					</div>
				</div>
			</div>
			<!--content
		</div>
	</div>-->

	