<% include ../partials/header %>
		
	<!-- content-section-starts -->
	<div class="content">
		<div class="container">
			<div class="login-page">
			    <div class="dreamcrub">
					<ul class="breadcrumbs">
						<li class="home">
						   <a href="index" title="Go to Home Page">Home</a>&nbsp;
						   <span>&gt;</span>
						</li>
						<li class="women">
						   Testimonial
						</li>
					</ul>
					<ul class="previous">
						<li><a href="index">Back to Previous Page</a></li>
					</ul>
                <div class="clearfix"></div>
			    </div>
				
				<div class="account_grid">
					<h3>Testimonial Section</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- content-section-ends-here -->	

<% include ../partials/footer %>
