<% include ../partials/headerBack %>

	<!-- content-section-starts -->
		<div class="content">
<div class="women_main">
	<!-- start content -->
	<div class="faq">
	
		<h2>Frequently Asked Questions</h2>
		<h3>Payment-related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		<h3>Cancellation-related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			<ul>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
			</ul>
		<h3>Insurance Related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		<h3>Phone Booking &amp; COD</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		<h3>Refund-related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			<ul>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
			</ul>
		<h3>Booking-related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		<h3>Ticket-related</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			<ul>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
				<li>- Various versions have evolved over the years, sometimes by accident, sometimes on purpose</li>
				<li>- As opposed to using 'Content here, content here', making it look like readable English.</li>
				<li>- Sometimes by accident, sometimes on purpose Various versions have evolved over the years</li>
			</ul>
		<h3>General</h3>
		<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
	
</div>
	<!-- content-section-ends-here -->	

<% include ../partials/footerBack %>
<% include ../partials/sideBack %>
